### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#use length of unique players SN list to get total # players
totalplayers = len(purchase_data['SN'].unique())

#use print to Display the total number of players
print(totalplayers)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#use length of unique item ID list to get total # items for sale
itemsforsale = len(purchase_data['Item ID'].unique())

#use sum of ALL prices divided by previous variable of unique items for sale
avgprice = round(purchase_data['Price'].mean(),2)

In [4]:
#Create a summary data frame to hold the results
total_sumdf = pd.DataFrame([{'Items for Sale':itemsforsale, 'Average Price': avgprice}])

In [5]:
#format the data frame to look better before printing
total_sumdf['Average Price']=total_sumdf['Average Price'].map('${:.2f}'.format)

In [6]:
#display the summary data frame
total_sumdf

   Items for Sale Average Price
0             179         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Check formulas work by breaking them down first
    #purchase_data.groupby(['Gender']).size()
    #len(purchase_data)
    #purchase_data.groupby(['Gender'])['SN'].nunique()

In [8]:
#now add the formulas together assign them as variables incase you need to use them later

    #Percentage of Male Players, Female Players, and  Other / Non-Disclosed
gend_pct =  round((purchase_data.groupby(['Gender']).size()/len(purchase_data))*100,1)

    #Count of Male Players, Female Players, and  Other / Non-Disclosed
gend_count = purchase_data.groupby(['Gender'])['SN'].nunique()

In [9]:
#create gender data sumry df
gend_demodf = pd.DataFrame({'Percentage': gend_pct,'Purchase Count': gend_count})

#format the DF prior to printing
gend_demodf['Percentage']=gend_demodf['Percentage'].map('{:.1f}%'.format)

#display the summary data frame
gend_demodf

                      Percentage  Purchase Count
Gender
Female                     14.5%              81
Male                       83.6%             484
Other / Non-Disclosed       1.9%              11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Check formulas work by breaking them down first
    #purchase_data.groupby(['Gender'])['Price'].sum()
    #gend_purchcount
    #round(purchase_data.groupby(['Gender'])['Price'].mean(),2)

In [11]:
#now add the formulas together assign them as variables incase you need to use them later
    #we can use the gend_purchcount variable from earlier
gend_avg_spent_pp = round(purchase_data.groupby(['Gender'])['Price'].sum()/gend_count,2)
gend_avg_game = round(purchase_data.groupby(['Gender'])['Price'].mean(),2)

In [12]:
#create a new DF of our AVGs 
gend_purchdf = pd.DataFrame({'Avg Spent PP':gend_avg_spent_pp,'Avg Game Price':gend_avg_game,})

In [13]:
#merge the 2 DF to get one summary DF
gend_joindf = pd.merge(gend_demodf,gend_purchdf, on='Gender')

#format the joined DF prior to printing
gend_joindf['Avg Spent PP']=gend_joindf['Avg Spent PP'].map('${:.2f}'.format)
gend_joindf['Avg Game Price']=gend_joindf['Avg Game Price'].map('${:.2f}'.format)

#Display the summary data frame
gend_joindf

                      Percentage  Purchase Count Avg Spent PP Avg Game Price
Gender
Female                     14.5%              81        $4.47          $3.20
Male                       83.6%             484        $4.07          $3.02
Other / Non-Disclosed       1.9%              11        $4.56          $3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
    #Establish bins for ages
    #Categorize the existing players using the age bins
#using the cut function to create bins and labels for age groups    
purchase_data['Age Group']=pd.cut(purchase_data['Age'],[0,10,18,25,100], right=True,
                                  labels=['Child','Minor','Young Adult','Adult'], include_lowest=True)

In [15]:
#add the formulas and assign them as variables incase you need to use them later
    #round the percentage column to two decimal points
age_group = purchase_data.groupby(['Age Group'])
age_pct = round((purchase_data.groupby(['Age Group']).size()/len(purchase_data))*100)
age_purchcount = purchase_data.groupby(['Age Group'])['SN'].nunique()

In [16]:
#Create a summary data frame to hold the results
age_demodf = pd.DataFrame({'Percent by Group':age_pct, 'Number of Purchases':age_purchcount}).sort_values('Number of Purchases',ascending=False)

#format the joined DF prior to printing
age_demodf['Percent by Group'] = age_demodf['Percent by Group'].map('{:.1f}%'.format)

#Display Age Demographics Table
age_demodf

            Percent by Group  Number of Purchases
Age Group
Young Adult            57.0%                  318
Adult                  22.0%                  129
Minor                  17.0%                  105
Child                   4.0%                   24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# purchase_data was Binned by age in previous step by adding column Age Group

# add the formulas and assign them as variables incase you need to use them later
    #obtain avg. purchase price, avg. purchase total per person
    #purchase count was captured in age_demodf and will be reused
age_avg_spent_pp = round(purchase_data.groupby(['Age Group'],sort=True)['Price'].sum()/age_purchcount,2)
age_avg_price = round(purchase_data.groupby(['Age Group'],sort=True)['Price'].mean(),2)

#create a new DF of our AVGs 
age_purchdf = pd.DataFrame({'Avg Spent PP':age_avg_spent_pp,'Avg Game Price':age_avg_price})

In [18]:
#merge the 2 DF to get one summary DF
age_joindf = pd.merge(age_demodf,age_purchdf, on='Age Group')

In [19]:
#format the joined DF prior to printing
age_joindf['Avg Spent PP']=age_joindf['Avg Spent PP'].map('${:.2f}'.format)
age_joindf['Avg Game Price']=age_joindf['Avg Game Price'].map('${:.2f}'.format)

#Display the summary data frame
age_joindf

            Percent by Group  Number of Purchases Avg Spent PP Avg Game Price
Age Group
Young Adult            57.0%                  318        $4.30          $3.06
Adult                  22.0%                  129        $3.96          $3.02
Minor                  17.0%                  105        $3.75          $2.98
Child                   4.0%                   24        $4.54          $3.40

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
#create variaables for DF key:values of:
    #Group by Item ID > Item Name > purchase count
pop_purch_count = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].count()

    #Group by Item ID > Item Name > average item price
pop_avg_price = round(purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean(),2)

    #Group by Item ID > Item Name > 
pop_tot_purch = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum()

In [21]:
#Create a summary data frame to hold the previous key:values
#Sort the purchase count column in descending order
pop_sumdf = pd.DataFrame({'Purchase Count':pop_purch_count,
                         'Avg Price':pop_avg_price,
                         'Total Puchases':pop_tot_purch}).sort_values('Purchase Count', ascending=False)

In [22]:
#format the joined DF and display a preview of the summary data frame
pop_sumdf['Avg Price'] = pop_sumdf['Avg Price'].map('${:.2f}'.format)
pop_sumdf['Total Puchases'] = pop_sumdf['Total Puchases'].map('${:.2f}'.format)

#Display a preview of the data frame
pop_sumdf.head(10)

,,Purchase Count,Avg Price,Total Puchases
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [122]:
#Sort the above table by total purchase value in descending order
    #formatting completed in prior step
pop_sumdf['Total Puchases'].sort_values(ascending=False)

#Display a preview of the data frame
pop_sumdf.head(10)

,,Purchase Count,Avg Price,Total Puchases
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [148]:
#create variaables for DF key:values of:
    #Group by Item ID > Item Name > purchase count
top_purch_count = purchase_data.groupby(['Item Name','Gender','Age Group'])['Item Name'].count().sort_values(ascending=False)

    #Group by Item ID > Item Name > average item price
top_val = round(purchase_data.groupby(['Item Name','Gender','Age Group'])['Price'].sum(),2)

    #Group by Item ID > Item Name > 
top_tot_purch = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum()

top_df=pd.DataFrame({'Total Purchases':top_purch_count,'Total Value':top_val}).sort_values('Total Purchases',ascending=False)
top_df.head(10)

                                                  Total Purchases  Total Value
Item Name                     Gender Age Group
Persuasion                    Male   Young Adult                7        22.47
Final Critic                  Male   Young Adult                6        27.90
Eternal Cleaver               Male   Young Adult                6        15.00
Pursuit, Cudgel of Necromancy Male   Young Adult                6         6.12
Lightning, Etcher of the King Male   Young Adult                6        25.38
Fiery Glass Crusader          Male   Young Adult                5        22.90
Malificent Bag                Male   Young Adult                5         8.75
Wolf                          Male   Young Adult                5        17.70
Retribution Axe               Male   Young Adult                5        11.10
Abyssal Shard                 Male   Young Adult                5        13.35