In [2]:
import pandas as pd

fram1 = pd.DataFrame([{'Frame': 'Ornate', 'Price':15.0 , 'Sales': 100}, 
                     {'Frame': 'Classical', 'Price':12.5 , 'Sales': 200}, 
                      {'Frame': 'Modern', 'Price':10.0 , 'Sales': 150}])
print(fram1)

       Frame  Price  Sales
0     Ornate   15.0    100
1  Classical   12.5    200
2     Modern   10.0    150

In [5]:
fram2 = pd.DataFrame({'Paintings':['Mona Lisa - wanaB', 'Van Gogh - wanaB', 'Starving Artist', 'Todler Drawing'],
                     'Price':[25, 20, 10, 1], 'Popularity': ['Top Seller', 'Popular', 'Average', 'Only Mom']})
print(fram2)

           Paintings  Price  Popularity
0  Mona Lisa - wanaB     25  Top Seller
1   Van Gogh - wanaB     20     Popular
2    Starving Artist     10     Average
3     Todler Drawing      1    Only Mom