### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [ ]:
totalplayers = len(purchase_data['SN'].unique())
totalplayers

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
itemsforsale = len(purchase_data['Item ID'].unique())
avgprice = round(purchase_data['Price'].sum()/purchase_data['Item ID'].count(),2)
#num of repeat ubyers?
sumdf = pd.DataFrame([{'Items for Sale':itemsforsale, 'Average Price': avgprice}])
#sumdf = sumdf['Average Price'].map('${:}'.format)
sumdf

   Items for Sale  Average Price
0             179           3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Check formulas work
#purchase_data.groupby(['Gender']).count()
pctgend =  purchase_data.groupby(['Gender']).size()/len(purchase_data)
purchcount = purchase_data.groupby(['Gender'])['SN'].nunique()

In [7]:
#create gender data sumry df
gender_df = pd.DataFrame({'Percentage': pctgend,
    'Purchase Count': purchcount})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#gender grouping
    #SN Grouping
    #count Item ID for ea SN
    #avg spent pp
avg_spent_pp = purchase_data.groupby(['Gender'],sort=True)['Price'].sum()/purchcount
avg_game = purchase_data.groupby(['Gender'],sort=True)['Price'].mean()
avg_spent_pp

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [9]:
gendpurch_df = pd.DataFrame({'Avg Spent PP':avg_spent_pp,
                             'Avg Game Price':avg_game,})

In [10]:
pd.merge(gender_df,gendpurch_df, on='Gender')

,Percentage,Purchase Count,Avg Spent PP,Avg Game Price
Gender,,,,
Female,0.144872,81,4.468395,3.203009
Male,0.835897,484,4.065372,3.017853
Other / Non-Disclosed,0.019231,11,4.562727,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
age_bins=pd.cut(purchase_data['Age'],[0,10,18,25,100], right=True,
                labels=['Child','Minor','Young Adult','Adult'],
                retbins=True, include_lowest=True)

(0      Young Adult
 1            Adult
 2      Young Adult
 3      Young Adult
 4      Young Adult
           ...
 775    Young Adult
 776    Young Adult
 777    Young Adult
 778          Child
 779    Young Adult
 Name: Age, Length: 780, dtype: category
 Categories (4, object): [Child < Minor < Young Adult < Adult],
 array([  0,  10,  18,  25, 100]))

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame